@model WeaponModsIndexViewModel

@{
    ViewData["Title"] = "Weapon Mods";
}

<div class="container">
    <div class="row">
        <ul>
            @foreach(var mod in Model.WeaponMods)
            {
                <li>
                    @if(mod.IsUnlocked)
                    {
                        <input type="checkbox" checked>
                    }
                    else
                    {
                        <input type="checkbox">
                    }
                    <img src="@mod.IconUrl" width="48" height="48">@mod.Name
                </li>
            }
        </ul>
    </div>
</div>