@model WeaponModsIndexViewModel

@{
    ViewData["Title"] = "Weapon Mods";
}

<div class="container">
    <div class="row">
        <ul>
            @foreach(var mod in Model.WeaponMods)
            {
                <li>@mod.DisplayProperties.Name</li>
            }
        </ul>
    </div>
</div>